<div class="nav">
  <i class="fa-solid fa-bars" style="font-size: 1.5rem"></i>
  <h2>Bienvenido a Mi Siembra</h2>
  <span></span>
</div>

<div  id="fat">
    <div class="wraper" id="cont">
        <h3 style="text-align: center">¿Qué vamos a sembrar hoy?</h3>
      
        <div style="display: flex; width: 100%; justify-content: center">
          <div style="width: 190px">
            <app-icono></app-icono>
          </div>
        </div>
      
        <p-stepper>
          <p-stepperPanel>
            <ng-template
              pTemplate="content"
              let-nextCallback="nextCallback"
              let-index="index"
            >
              <div class="wraper">
                <div class="drop-cont">
                  <p-dropdown
                    [options]="cultivos"
                    [(ngModel)]="cultivoSeleccionado"
                    optionLabel="nombre"
                    placeholder="Tipo de Cultivo"
                  />
                  <p-dropdown
                    [options]="areas"
                    [(ngModel)]="areaSelccionada"
                    optionLabel="tamaño"
                    placeholder="Área"
                  />
                </div>
      
                <div class="drop-cont">
                  <p-dropdown
                    [options]="departamentos"
                    [(ngModel)]="departamentoSeleccionado"
                    optionLabel="nombre"
                    placeholder="Departamento"
                  />
                  <p-dropdown
                    [options]="municipios"
                    [(ngModel)]="municipioSeleccionado"
                    optionLabel="nombre"
                    placeholder="municipio"
                    [disabled]="!departamentoSeleccionado"
                  />
                </div>
                <div class="fott">
                  <span></span>
                  <p-button
                    label="siguiente"
                    icon="fa-solid fa-arrow-right"
                    iconPos="right"
                    (onClick)="nextCallback.emit()"
                    [disabled]="!municipioSeleccionado"
                  />
                </div>
              </div>
            </ng-template>
          </p-stepperPanel>
          <p-stepperPanel>
            <ng-template
              pTemplate="content"
              let-prevCallback="prevCallback"
              let-nextCallback="nextCallback"
              let-index="index"
            >
              <div class="wraper">
                <div class="drop-cont">
                  <p-dropdown
                    [options]="variedades"
                    [(ngModel)]="variedadSeleccionada"
                    optionLabel="nombre"
                    placeholder="Variedad del cultivo"
                  />
                  <p-dropdown
                    [options]="variedades"
                    [(ngModel)]="variedadSeleccionada"
                    optionLabel="nombre"
                    placeholder="area"
                  />
                </div>
                <div class="drop-cont">
                  <p-dropdown
                    [options]="densidades"
                    [(ngModel)]="densidadSeleccionada"
                    optionLabel="nombre"
                    placeholder="Densidad n° plantas"
                  />
                  <p-dropdown
                    [options]="departamentos"
                    [(ngModel)]="departamentoSeleccionado"
                    optionLabel="nombre"
                    placeholder="Departamento"
                  />
                </div>
                <div class="fott">
                  <p-button
                    label="regresar"
                    icon="fa-solid fa-arrow-left"
                    (onClick)="prevCallback.emit()"
                  />
                  <p-button
                    label="siguiente"
                    icon="fa-solid fa-arrow-right"
                    iconPos="right"
                    (onClick)="nextCallback.emit()"
                  />
                </div>
              </div>
            </ng-template>
          </p-stepperPanel>
        </p-stepper>
      </div>
      

</div>

